<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
</head>
<body>
  <h1>Dashboard</h1>
  <a href="/list-products">List Products</a><br><br>
  <a href="/add-to-cart">Add to Cart</a><br><br>
  <a href="/remove-from-cart">Remove from Cart</a><br><br>
  <a href="/display-cart">Display Cart</a><br><br>
  <a href="/logout">Logout</a><br>
</body>
</html>
